{{ with $.Paginator }}
    {{ if gt .TotalPages 1 }}
        <ul id="pagination">
            {{ with .Prev }}
                <li class="page-item">
                    <a class="page-link" href="{{ .URL }}">←</a>
                </li>
            {{ end }}
            {{ if and (.Prev) (.Next) }}
                <li class="page-item">. . .</li>
            {{ end }}
            {{ with .Next }}
                <li class="page-item">
                    <a class="page-link" href="{{ .URL }}">→</a>
                </li>
            {{ end }}
        </ul>
    {{ end }}
{{ end }}
