{{ define "main" }}
    <article>
        <h1 class="list-page-header">
            {{ .Title }}
        </h1>
        <ul class="posts-list posts-list-tags">
            {{ $sectionPages := where .Site.Pages "Section" .Section }}
            {{ range $index, $element := .Pages }}
                <li class="posts-list-item posts-list-item-tags">
                    <h2 class="post-title" style="font-size:large;">
                        <a class="posts-list-item-title" href="{{ .Permalink }}">
                            {{ sub (len $sectionPages) (add $index 1) }} - {{ .Title }}
                        </a>
                    </h2>
                    <span class="posts-list-item-description">
                    <i class="bi-calendar"></i> {{ .PublishDate.Format "2006-01-02" }}
                    |
                    <i class="bi-clock"></i> {{ .ReadingTime }} min read
                    </span>
                </li>
            {{ end }}
        </ul>
    </article>
{{ end }}
